#logo{
    width: 70px;
    height: 70px;
    margin: 10px 10px;
}

header{
    display: flex;
    background: linear-gradient(to right, #b10000, #ff6d6d);
    align-items: center; 
    font-size: large;
    color: white;
    font-weight: bold;
}